services:
  postgres:
    image: "postgres:latest"

    restart: unless-stopped
    environment:
      POSTGRES_DB: "playDB"
      POSTGRES_USER: "crisan"
      POSTGRES_PASSWORD: "cris"
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/data/postgres
volumes:
  pgdata:
